In [10]:
import pandas as pd
import requests

In [2]:
pwd

'/Users/jaywon/Downloads/PSU/Datascience_MachineLearning/03-Pandas'

In [3]:
df = pd.read_csv('example.csv')

In [4]:
df

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [5]:
df.to_csv('My_Output',index=False)

In [6]:
pd.read_csv('My_Output')

    a   b   c   d
0   0   1   2   3
1   4   5   6   7
2   8   9  10  11
3  12  13  14  15

In [7]:
pd.read_excel('Excel_Sample.xlsx',sheet_name='Sheet1')

   Unnamed: 0   a   b   c   d
0           0   0   1   2   3
1           1   4   5   6   7
2           2   8   9  10  11
3           3  12  13  14  15

In [11]:
url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'
response = requests.get(url, verify=True)
data = pd.read_html(response.text)

In [12]:
type(data)

list

In [16]:
data[0].head()
from sqlalchemy import create_engine

In [18]:
engine = create_engine('sqlite:///:memory:')

In [19]:
df.to_sql('my_table',engine)

4

In [20]:
sqldf = pd.read_sql('my_table',con=engine)

AttributeError: 'OptionEngine' object has no attribute 'execute'